body, html {
  width: 100%;
  height: 100%;
}

svg {
  width:50%;
  height:100%;
  float: left;
}

text {
  font-size: 130%;
}

#myTooltip {
  padding: 1%;
  font-size: 80%;
  position: absolute;
  background-color: black;
  color: white;
  white-space: pre;
  text-align: left;
  opacity: 0.9;
  pointer-events: none;
}

.xaxislabel, .label {
  font-size: 100%;
}

/*
#chart{
  position: relative;
  top: 8%;
  padding-top: 5px;
}

.axis {
  font-family: arial;
  font-size: 0.7em;
}

text {
  fill: black;
  stroke: none;
  position: relative;
  left: 20%;
  top: 3%;
  font-family: 'futura';
}

.label {
  font-size: 1.5em;
}

path {
  stroke: black;
  stroke-width: 2px;
}
.tick {
  fill: none;
  stroke: black;
}

circle {
  opacity: 0.9;
  stroke: none;
}

.line {
  fill: none;
  stroke: #e00007;
  stroke-width: 1px;
}

.line2 {
  fill: none;
  stroke: #e00007;;
  stroke-width: 2px;
}
*/